.input_button {
  width: 48%;
  height: 30px;
  border-radius: 5px;
  background-color: #808080;
  border-color: #808080;
  color: white;
}

.reset_button {
  width: 48%;
  height: 30px;
  border-radius: 5px;
  background-color: white;
  border-color: #808080;
  color: #808080;
}
